body {
  background-color:#000;
   color: #fff;
   text-align:center;

}

nav li {
    display:inline-block;
}
nav div {
    display:inline-block;
}
nav div a, nav li a  {
    display:flex;
    float:left;
    width:110px;
    height:110px;
    text-align:center;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#fff;
    font-size: 18px;
    margin:10px;
    word-wrap:break-word;
}

.button-color {
  background-color: #FF8C00;
  border:none;
  color: #fff;
  font-size: 18px;
  height: 110px;
  width: 110px;
  margin:10px;
  word-wrap:break-word;
}

table, th, td {
    border: 1px dotted grey;
    border-collapse: collapse;
    }
 th, td {
    padding: 5px;
    }
 tr:nth-child(even) {
    background-color:#FAB273;
}