<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <img src="images/oxy.png" style="width:150px; height:150px;"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<style>
body {
  background-color:black;
    color: white;
    text-align:center;

}

    nav li {
    display:inline-block;
}
    nav a {
        text-decoration:none;
        color:white;
    }
button.button-color {
  background-color: #FF8C00;
  border:none;
  color: white;
  font-size: 20px;
  height: 100px;
  width: 150px;
  margin:10px;

    }
    </style>

</head>
<body>
<nav>
    <div class="container">
        <h2>Select By Semester and Year</h2>
    <div class="row">
        <ul>
        <div class="col-md-12">
<li><a href="/2010/fall"><button type="button" class = "button-color">Fall 2010</button></a></li>
<li><a href="/2010/spring"><button type="button" class = "button-color">Spring 2010</button></a></li>
<li><a href="/2010/summer"><button type="button" class = "button-color">Summer 2010</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2011/fall"><button type="button" class = "button-color">Fall 2011</button></a></li>
<li><a href="/2011/spring"><button type="button" class = "button-color">Spring 2011</button></a></li>
<li><a href="/2011/summer"><button type="button" class = "button-color">Summer 2011</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2012/fall"><button type="button" class = "button-color">Fall 2012</button></a></li>
<li><a href="/2012/spring"><button type="button" class = "button-color">Spring 2012</button></a></li>
<li><a href="/2012/summer"><button type="button" class = "button-color">Summer 2012</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2013/fall"><button type="button" class = "button-color">Fall 2013</button></a></li>
<li><a href="/2013/spring"><button type="button" class = "button-color">Spring 2013</button></a></li>
<li><a href="/2013/summer"><button type="button" class = "button-color">Summer 2013</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2014/fall"><button type="button" class = "button-color">Fall 2014</button></a></li>
<li><a href="/2014/spring"><button type="button" class = "button-color">Spring 2014</button></a></li>
<li><a href="/2014/summer"><button type="button" class = "button-color">Summer 2014</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2015/fall"><button type="button" class = "button-color">Fall 2015</button></a></li>
<li><a href="/2015/spring"><button type="button" class = "button-color">Spring 2015</button></a></li>
<li><a href="/2015/summer"><button type="button" class = "button-color">Summer 2015</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2016/fall"><button type="button" class = "button-color">Fall 2016</button></a></li>
<li><a href="/2016/spring"><button type="button" class = "button-color">Spring 2016</button></a></li>
<li><a href="/2016/summer"><button type="button" class = "button-color">Summer 2016</button></a></li>
        </div>
        <div class="col-md-12">
<li><a href="/2017/fall"><button type="button" class = "button-color">Fall 2017</button></a></li>
<li><a href="/2017/spring"><button type="button" class = "button-color">Spring 2017</button></a></li>
<li><a href="/2017/summer"><button type="button" class = "button-color">Summer 2017</button></a></li>
        </div>
        </ul>
    </div>
    </div>
</nav>

Select by Department:
<button class = "button-color"><a href="department/AMST" >American Studies</a></button>
<button class = "button-color"><a href="department/ARAB" >Arabic</a></button>
<button class = "button-color"><a href="department/ARTH" >Art History and Visual Arts/Art History</a></button>
<button class = "button-color"><a href="department/ARTM" >Art History and Visual Arts/Media Arts and Culture</a></button>
<button class = "button-color"><a href="department/ARTS" >Art History and Visual Arts/Studio Art</a></button>
<button class = "button-color"><a href="department/BICH" >Biochemistry</a></button>
<button class = "button-color"><a href="department/BIO" >Biology</a></button>
<button class = "button-color"><a href="department/CHEM" >Chemistry</a></button>
<button class = "button-color"><a href="department/CHIN" >Chinese</a></button>
<button class = "button-color"><a href="department/CLAS" >Classical Studies</a></button>
<button class = "button-color"><a href="department/COGS" >Cognitive Science</a></button>
<button class = "button-color"><a href="department/COMP" >Computer Science</a></button>
<button class = "button-color"><a href="department/CSLC" >Comparative Studies in Literature and Culture</a></button>
<button class = "button-color"><a href="department/CSP" >Cultural Studies Program</a></button>
<button class = "button-color"><a href="department/CTSJ" >Critical Theory and Social Justice</a></button>
<button class = "button-color"><a href="department/DWA" >Diplomacy and World Affairs</a></button>
<button class = "button-color"><a href="department/ECLS" >English and Comparative Literary Studies</a></button>
<button class = "button-color"><a href="department/ECON" >Economics</a></button>
<button class = "button-color"><a href="department/EDUC" >Education</a></button>
<button class = "button-color"><a href="department/ENGL" >English</a></button>
<button class = "button-color"><a href="department/ENWR" >English Writing</a></button>
<button class = "button-color"><a href="department/FREN" >French</a></button>
<button class = "button-color"><a href="department/GEO" >Geology'</a></button>
<button class = "button-color"><a href="department/GERM" >German</a></button>
<button class = "button-color"><a href="department/GRK" >Greek</a></button>
<button class = "button-color"><a href="department/HIST" >History</a></button>
<button class = "button-color"><a href="department/ITAL" >Italian</a></button>
<button class = "button-color"><a href="department/JAPN" >Japanese</a></button>
<button class = "button-color"><a href="department/KINE" >Kinesiology</a></button>
<button class = "button-color"><a href="department/LANG" >Language</a></button>
<button class = "button-color"><a href="department/LATN" >Latin</a></button>
<button class = "button-color"><a href="department/LING" >Linguistics</a></button>
<button class = "button-color"><a href="department/LLAS" >Latino/a and Latin American Studies</a></button>
<button class = "button-color"><a href="department/MATH" >Mathematics</a></button>
<button class = "button-color"><a href="department/MUSA" >Music Applied Study</a></button>
<button class = "button-color"><a href="department/MUSC" >Music</a></button>
<button class = "button-color"><a href="department/PHAC" >Physical Activities</a></button>
<button class = "button-color"><a href="department/PHIL" >Philosophy</a></button>
<button class = "button-color"><a href="department/PHYS" >Physics</a></button>
<button class = "button-color"><a href="department/POLS" >Politics</a></button>
<button class = "button-color"><a href="department/PSYC" >Psychology</a></button>
<button class = "button-color"><a href="department/RELS" >Religious Studies</a></button>
<button class = "button-color"><a href="department/RUSN" >Russian</a></button>
<button class = "button-color"><a href="department/SOC" >Sociology</a></button>
<button class = "button-color"><a href="department/SPAN" >Spanish and French Studies</a></button>
<button class = "button-color"><a href="department/THEA" >Theater</a></button>
<button class = "button-color"><a href="department/UEP" >Urban and Environmental Policy</a></button>
<button class = "button-color"><a href="department/WRD" >Writing and Retoric</a></button>

Select by Core:
<button class = "button-color"><a href="core/CPAF" >Core Africa and the Middle East</a></button>
<button class = "button-color"><a href="core/CPAS" >Core Central/South/East Asia</a></button>
<button class = "button-color"><a href="core/CPEU" >Core Europe</a></button>
<button class = "button-color"><a href="core/CPFA" >Core Fine Arts (CPFA)</a></button>
<button class = "button-color"><a href="core/CFAP" >Core Fine Arts Partial (CFAP)</a></button>
<button class = "button-color"><a href="core/CPGC" >Core Global Connections (CPGC)</a></button>
<button class = "button-color"><a href="core/CPIC" >Core Intercultural (CPIC)</a></button>
<button class = "button-color"><a href="core/CPLS" >Core Laboratory Science (CPLS)</a></button>
<button class = "button-color"><a href="core/CPLA" >Core Latin America (CPLA)</a></button>
<button class = "button-color"><a href="core/CMSP" >Core Math/Science Partial (CMSP)</a></button>
<button class = "button-color"><a href="core/CPMS" >Core Mathematics/Science (CPMS)</a></button>
<button class = "button-color"><a href="core/CPPE" >Core Pre-1800 (CPPE)</a></button>
<button class = "button-color"><a href="core/CPRF" >Core Regional Focus (CPRF)</a></button>
<button class = "button-color"><a href="core/CPUS" >Core United States (CPUS)</a></button>
<button class = "button-color"><a href="core/CPUD" >Core United States Diversity (CPUD)</a></button>

</body>
<script>
    var buttons = document.getElementsByClassName("button-color");
for(var i=0;i<buttons.length;i++) {
  buttons[i].classList.add(i % 2 === 0 ? "even" : "odd");
  //or
  buttons[i].style["background-color"] = i % 2 === 0 ? "#FF6600" : "#696666";
}
</script>

</body>
</html>