<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <img src="images/oxy.png" style="width:150px; height:150px;"/>
    PLEASE SELECT
<style>
body {
  background-color:black;
    color: white;
}
button.button-color {
  background-color: #f15b22;
  border:none;
  color: white;
  font-size: 14px;
  height: 50px;
  width: 100px;
    }
    </style>

</head>
<body>
<button class = "button-color"><a href="/2010/fall">Fall 2010</a></button>
<button class = "button-color"><a href="/2010/spring">Spring 2010</a></button>
<button class = "button-color"><a href="/2010/summer">Summer 2010</a></button>
<button class = "button-color"><a href="/2011/fall">Fall 2011</a></button>
<button class = "button-color"><a href="/2011/spring">Spring 2011</a></button>
<button class = "button-color"><a href="/2011/summer">Summer 2011</a></button>
<button class = "button-color"><a href="/2012/fall">Fall 2012</a></button>
<button class = "button-color"><a href="/2012/spring">Spring 2012</a></button>
<button class = "button-color"><a href="/2012/summer">Summer 2012</a></button>
<button class = "button-color"><a href="/2013/fall">Fall 2013</a></button>
<button class = "button-color"><a href="/2013/spring">Spring 2013</a></button>
<button class = "button-color"><a href="/2013/summer">Summer 2013</a></button>
<button class = "button-color"><a href="/2014/fall">Fall 2014</a></button>
<button class = "button-color"><a href="/2014/spring">Spring 2014</a></button>
<button class = "button-color"><a href="/2014/summer">Summer 2014</a></button>
<button class = "button-color"><a href="/2015/fall">Fall 2015</a></button>
<button class = "button-color"><a href="/2015/spring">Spring 2015</a></button>
<button class = "button-color"><a href="/2015/summer">Summer 2015</a></button>
<button class = "button-color"><a href="/2016/fall">Fall 2016</a></button>
<button class = "button-color"><a href="/2016/spring">Spring 2016</a></button>
<button class = "button-color"><a href="/2016/summer">Summer 2016</a></button>
<button class = "button-color"><a href="/2017/fall">Fall 2017</a></button>
<button class = "button-color"><a href="/2017/spring">Spring 2017</a></button>
<button class = "button-color"><a href="/2017/summer">Summer 2017</a></button>


</body>


</body></html>