<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <img src="images/oxy.png" style="width:150px; height:150px;"/>

<style>
body {
  background-color:black;
    color: white;
}
button.button-color {
  background-color: #f15b22;
  border:none;
  color: white;
  font-size: 14px;
  height: 50px;
  width: 100px;
    }
    </style>

</head>
<body>
Select by Year and Semester:
<button class = "button-color"><a href="/2010/fall">Fall 2010</a></button>
<button class = "button-color"><a href="/2010/spring">Spring 2010</a></button>
<button class = "button-color"><a href="/2010/summer">Summer 2010</a></button>
<button class = "button-color"><a href="/2011/fall">Fall 2011</a></button>
<button class = "button-color"><a href="/2011/spring">Spring 2011</a></button>
<button class = "button-color"><a href="/2011/summer">Summer 2011</a></button>
<button class = "button-color"><a href="/2012/fall">Fall 2012</a></button>
<button class = "button-color"><a href="/2012/spring">Spring 2012</a></button>
<button class = "button-color"><a href="/2012/summer">Summer 2012</a></button>
<button class = "button-color"><a href="/2013/fall">Fall 2013</a></button>
<button class = "button-color"><a href="/2013/spring">Spring 2013</a></button>
<button class = "button-color"><a href="/2013/summer">Summer 2013</a></button>
<button class = "button-color"><a href="/2014/fall">Fall 2014</a></button>
<button class = "button-color"><a href="/2014/spring">Spring 2014</a></button>
<button class = "button-color"><a href="/2014/summer">Summer 2014</a></button>
<button class = "button-color"><a href="/2015/fall">Fall 2015</a></button>
<button class = "button-color"><a href="/2015/spring">Spring 2015</a></button>
<button class = "button-color"><a href="/2015/summer">Summer 2015</a></button>
<button class = "button-color"><a href="/2016/fall">Fall 2016</a></button>
<button class = "button-color"><a href="/2016/spring">Spring 2016</a></button>
<button class = "button-color"><a href="/2016/summer">Summer 2016</a></button>
<button class = "button-color"><a href="/2017/fall">Fall 2017</a></button>
<button class = "button-color"><a href="/2017/spring">Spring 2017</a></button>
<button class = "button-color"><a href="/2017/summer">Summer 2017</a></button>
<p>

</p>
Select by Department:
<button class = "button-color"><a href="department/AMST" >American Studies</a></button>
<button class = "button-color"><a href="department/ARAB" >Arabic</a></button>
<button class = "button-color"><a href="department/ARTH" >Art History and Visual Arts/Art History</a></button>
<button class = "button-color"><a href="department/ARTM" >Art History and Visual Arts/Media Arts and Culture</a></button>
<button class = "button-color"><a href="department/ARTS" >Art History and Visual Arts/Studio Art</a></button>
<button class = "button-color"><a href="department/BICH" >Biochemistry</a></button>
<button class = "button-color"><a href="department/BIO" >Biology</a></button>
<button class = "button-color"><a href="department/CHEM" >Chemistry</a></button>
<button class = "button-color"><a href="department/CHIN" >Chinese</a></button>
<button class = "button-color"><a href="department/CLAS" >Classical Studies</a></button>
<button class = "button-color"><a href="department/COGS" >Cognitive Science</a></button>
<button class = "button-color"><a href="department/COMP" >Computer Science</a></button>
<button class = "button-color"><a href="department/CSLC" >Comparative Studies in Literature and Culture</a></button>
<button class = "button-color"><a href="department/CSP" >Cultural Studies Program</a></button>
<button class = "button-color"><a href="department/CTSJ" >Critical Theory and Social Justice</a></button>
<button class = "button-color"><a href="department/DWA" >Diplomacy and World Affairs</a></button>
<button class = "button-color"><a href="department/ECLS" >English and Comparative Literary Studies</a></button>
<button class = "button-color"><a href="department/ECON" >Economics</a></button>
<button class = "button-color"><a href="department/EDUC" >Education</a></button>
<button class = "button-color"><a href="department/ENGL" >English</a></button>
<button class = "button-color"><a href="department/ENWR" >English Writing</a></button>
<button class = "button-color"><a href="department/FREN" >French</a></button>
<button class = "button-color"><a href="department/GEO" >Geology'</a></button>
<button class = "button-color"><a href="department/GERM" >German</a></button>
<button class = "button-color"><a href="department/GRK" >Greek</a></button>
<button class = "button-color"><a href="department/HIST" >History</a></button>
<button class = "button-color"><a href="department/ITAL" >Italian</a></button>
<button class = "button-color"><a href="department/JAPN" >Japanese</a></button>
<button class = "button-color"><a href="department/KINE" >Kinesiology</a></button>
<button class = "button-color"><a href="department/LANG" >Language</a></button>
<button class = "button-color"><a href="department/LATN" >Latin</a></button>
<button class = "button-color"><a href="department/LING" >Linguistics</a></button>
<button class = "button-color"><a href="department/LLAS" >Latino/a and Latin American Studies</a></button>
<button class = "button-color"><a href="department/MATH" >Mathematics</a></button>
<button class = "button-color"><a href="department/MUSA" >Music Applied Study</a></button>
<button class = "button-color"><a href="department/MUSC" >Music</a></button>
<button class = "button-color"><a href="department/PHAC" >Physical Activities</a></button>
<button class = "button-color"><a href="department/PHIL" >Philosophy</a></button>
<button class = "button-color"><a href="department/PHYS" >Physics</a></button>
<button class = "button-color"><a href="department/POLS" >Politics</a></button>
<button class = "button-color"><a href="department/PSYC" >Psychology</a></button>
<button class = "button-color"><a href="department/RELS" >Religious Studies</a></button>
<button class = "button-color"><a href="department/RUSN" >Russian</a></button>
<button class = "button-color"><a href="department/SOC" >Sociology</a></button>
<button class = "button-color"><a href="department/SPAN" >Spanish and French Studies</a></button>
<button class = "button-color"><a href="department/THEA" >Theater</a></button>
<button class = "button-color"><a href="department/UEP" >Urban and Environmental Policy</a></button>
<button class = "button-color"><a href="department/WRD" >Writing and Retoric</a></button>

Select by Core:
    <button class = "button-color"><a href="core/CPAF" >Core Africa and the Middle East</a></button>
<button class = "button-color"><a href="core/CPAS" >Core Central/South/East Asia</a></button>
<button class = "button-color"><a href="core/CPEU" >Core Europe</a></button>
<button class = "button-color"><a href="core/CPFA" >Core Fine Arts (CPFA)</a></button>
<button class = "button-color"><a href="core/CFAP" >Core Fine Arts Partial (CFAP)</a></button>
<button class = "button-color"><a href="core/CPGC" >Core Global Connections (CPGC)</a></button>
<button class = "button-color"><a href="core/CPIC" >Core Intercultural (CPIC)</a></button>
<button class = "button-color"><a href="core/CPLS" >Core Laboratory Science (CPLS)</a></button>
<button class = "button-color"><a href="core/CPLA" >Core Latin America (CPLA)</a></button>
<button class = "button-color"><a href="core/CMSP" >Core Math/Science Partial (CMSP)</a></button>
<button class = "button-color"><a href="core/CPMS" >Core Mathematics/Science (CPMS)</a></button>
<button class = "button-color"><a href="core/CPPE" >Core Pre-1800 (CPPE)</a></button>
<button class = "button-color"><a href="core/CPRF" >Core Regional Focus (CPRF)</a></button>
<button class = "button-color"><a href="core/CPUS" >Core United States (CPUS)</a></button>
<button class = "button-color"><a href="core/CPUD" >Core United States Diversity (CPUD)</a></button>

</body>


</body></html>