<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<section id="department">
<h1>Select by Department:</h1>
<nav>
</nav>
</section>
<table style="width:100%">
    <tr class="table-titles">
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Seats</th>
        <th>Enrolled</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.seats}}</td>
        <td>{{class.enrolled}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>

<script src="/js/main.js"></script>
</body>
</html>