<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ core }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <form method = "get" action = "/core/<core>"></form>
</div>

<div>
    <input class = "button" type = "submit" value="Search"/>
</div>

<div>
    Filter by Department:
<button class = "button-color"><a href="department/AMST" >American Studies</a></button>
<button class = "button-color"><a href="department/ARAB" >Arabic</a></button>
<button class = "button-color"><a href="department/ARTH" >Art History and Visual Arts/Art History</a></button>
<button class = "button-color"><a href="department/ARTM" >Art History and Visual Arts/Media Arts and Culture</a></button>
<button class = "button-color"><a href="department/ARTS" >Art History and Visual Arts/Studio Art</a></button>
<button class = "button-color"><a href="department/BICH" >Biochemistry</a></button>
<button class = "button-color"><a href="department/BIO" >Biology</a></button>
<button class = "button-color"><a href="department/CHEM" >Chemistry</a></button>
<button class = "button-color"><a href="department/CHIN" >Chinese</a></button>
<button class = "button-color"><a href="department/CLAS" >Classical Studies</a></button>
<button class = "button-color"><a href="department/COGS" >Cognitive Science</a></button>
<button class = "button-color"><a href="department/COMP" >Computer Science</a></button>
<button class = "button-color"><a href="department/CSLC" >Comparative Studies in Literature and Culture</a></button>
<button class = "button-color"><a href="department/CSP" >Cultural Studies Program</a></button>
<button class = "button-color"><a href="department/CTSJ" >Critical Theory and Social Justice</a></button>
<button class = "button-color"><a href="department/DWA" >Diplomacy and World Affairs</a></button>
<button class = "button-color"><a href="department/ECLS" >English and Comparative Literary Studies</a></button>
<button class = "button-color"><a href="department/ECON" >Economics</a></button>
<button class = "button-color"><a href="department/EDUC" >Education</a></button>
<button class = "button-color"><a href="department/ENGL" >English</a></button>
<button class = "button-color"><a href="department/ENWR" >English Writing</a></button>
<button class = "button-color"><a href="department/FREN" >French</a></button>
<button class = "button-color"><a href="department/GEO" >Geology</a></button>
<button class = "button-color"><a href="department/GERM" >German</a></button>
<button class = "button-color"><a href="department/GRK" >Greek</a></button>
<button class = "button-color"><a href="department/HIST" >History</a></button>
<button class = "button-color"><a href="department/ITAL" >Italian</a></button>
<button class = "button-color"><a href="department/JAPN" >Japanese</a></button>
<button class = "button-color"><a href="department/KINE" >Kinesiology</a></button>
<button class = "button-color"><a href="department/LANG" >Language</a></button>
<button class = "button-color"><a href="department/LATN" >Latin</a></button>
<button class = "button-color"><a href="department/LING" >Linguistics</a></button>
<button class = "button-color"><a href="department/LLAS" >Latino/a and Latin American Studies</a></button>
<button class = "button-color"><a href="department/MATH" >Mathematics</a></button>
<button class = "button-color"><a href="department/MUSA" >Music Applied Study</a></button>
<button class = "button-color"><a href="department/MUSC" >Music</a></button>
<button class = "button-color"><a href="department/PHAC" >Physical Activities</a></button>
<button class = "button-color"><a href="department/PHIL" >Philosophy</a></button>
<button class = "button-color"><a href="department/PHYS" >Physics</a></button>
<button class = "button-color"><a href="department/POLS" >Politics</a></button>
<button class = "button-color"><a href="department/PSYC" >Psychology</a></button>
<button class = "button-color"><a href="department/RELS" >Religious Studies</a></button>
<button class = "button-color"><a href="department/RUSN" >Russian</a></button>
<button class = "button-color"><a href="department/SOC" >Sociology</a></button>
<button class = "button-color"><a href="department/SPAN" >Spanish and French Studies</a></button>
<button class = "button-color"><a href="department/THEA" >Theater</a></button>
<button class = "button-color"><a href="department/UEP" >Urban and Environmental Policy</a></button>
<button class = "button-color"><a href="department/WRD" >Writing and Retoric</a></button>
</select>


</select>
    </form>

</div>
<style>

</style>
<body>
<table style="width:100%">
    <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>

<script>
    var buttons = document.getElementsByClassName("button-color");
for(var i=0;i<buttons.length;i++) {
  buttons[i].classList.add(i % 2 === 0 ? "even" : "odd");
  //or
  buttons[i].style["background-color"] = i % 2 === 0 ? "#FF6600" : "#696666";
}

</script>
</body>
</html>