<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>


<section id="year-semester">


<h1>Scroll down to see all the courses offered in the selected department that meet the selected core requirement. Narrow your search by clicking on a term below.</h1>

    <h1>Select by Year and Term:</h1>
<nav>

<div><a href="/2010/fall" class="button-color">Fall 2010</a></div>
<div><a href="/2010/spring" class="button-color">Spring 2010</a></div>
<div><a href="/2010/summer" class="button-color">Summer 2010</a></div>
<div><a href="/2011/fall" class="button-color">Fall 2011</a></div>
<div><a href="/2011/spring" class="button-color">Spring 2011</a></div>
<div><a href="/2011/summer" class="button-color">Summer 2011</a></div>
<div><a href="/2012/fall" class="button-color">Fall 2012</a></div>
<div><a href="/2012/spring" class="button-color">Spring 2012</a></div>
<div><a href="/2012/summer" class="button-color">Summer 2012</a></div>
<div><a href="/2013/fall" class="button-color">Fall 2013</a></div>
<div><a href="/2013/spring" class="button-color">Spring 2013</a></div>
<div><a href="/2013/summer" class="button-color">Summer 2013</a></div>
<div><a href="/2014/fall" class="button-color">Fall 2014</a></div>
<div><a href="/2014/spring" class="button-color">Spring 2014</a></div>
<div><a href="/2014/summer" class="button-color">Summer 2014</a></div>
<div><a href="/2015/fall" class="button-color">Fall 2015</a></div>
<div><a href="/2015/spring" class="button-color">Spring 2015</a></div>
<div><a href="/2015/summer" class="button-color">Summer 2015</a></div>
<div><a href="/2016/fall" class="button-color">Fall 2016</a></div>
<div><a href="/2016/spring" class="button-color">Spring 2016</a></div>
<div><a href="/2016/summer" class="button-color">Summer 2016</a></div>
<div><a href="/2017/fall" class="button-color">Fall 2017</a></div>
<div><a href="/2017/spring" class="button-color">Spring 2017</a></div>
<div><a href="/2017/summer" class="button-color">Summer 2017</a></div>

</nav>
</section>


<nav>

<table style="width:100%">
    <tr class="table-titles">
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Seats</th>
        <th>Enrolled</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.seats}}</td>
        <td>{{class.enrolled}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>

<script src="/js/main.js"></script>
</body>
</html>