<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ core }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section id="department">
<h1>Select by Department:</h1>
<nav>
<ul>
<li><a href="department/AMST"><button class="button-color">American Studies</button></a></li>
<li><a href="department/ARAB"><button class="button-color">Arabic</button></a></li>
<li><a href="department/ARTH"><button class="button-color">Art History and Visual Arts/Art History</button></a></li>
<li><a href="department/ARTM"><button class="button-color">Art History and Visual Arts/Media Arts and Culture</button></a></li>
<li><a href="department/ARTS"><button class="button-color">Art History and Visual Arts/Studio Art</button></a></li>
<li><a href="department/BICH"><button class="button-color">Biochemistry</button></a></li>
<li><a href="department/BIO"><button class="button-color">Biology</button></a></li>
<li><a href="department/CHEM"><button class="button-color">Chemistry</button></a></li>
<li><a href="department/CHIN"><button class="button-color">Chinese</button></a></li>
<li><a href="department/CLAS"><button class="button-color">Classical Studies</button></a></li>
<li><a href="department/COGS"><button class="button-color">Cognitive Science</button></a></li>
<li><a href="department/COMP"><button class="button-color">Computer Science</button></a></li>
<li><a href="department/CSLC"><button class="button-color">Comparative Studies in Literature and Culture</button></a></li>
<li><a href="department/CSP"><button class="button-color">Cultural Studies Program</button></a></li>
<li><a href="department/CTSJ"><button class="button-color">Critical Theory and Social Justice</button></a></li>
<li><a href="department/DWA"><button class="button-color">Diplomacy and World Affairs</button></a></li>
<li><a href="department/ECLS"><button class="button-color">English and Comparative Literary Studies</button></a></li>
<li><a href="department/ECON"><button class="button-color">Economics</button></a></li>
<li><a href="department/EDUC"><button class="button-color">Education</button></a></li>
<li><a href="department/ENGL"><button class="button-color">English</button></a></li>
<li><a href="department/ENWR"><button class="button-color">English Writing</button></a></li>
<li><a href="department/FREN"><button class="button-color">French</button></a></li>
<li><a href="department/GEO"><button class="button-color">Geology</button></a></li>
<li><a href="department/GERM"><button class="button-color">German</button></a></li>
<li><a href="department/GRK"><button class="button-color">Greek</button></a></li>
<li><a href="department/HIST"><button class="button-color">History</button></a></li>
<li><a href="department/ITAL"><button class="button-color">Italian</button></a></li>
<li><a href="department/JAPN"><button class="button-color">Japanese</button></a></li>
<li><a href="department/KINE"><button class="button-color">Kinesiology</button></a></li>
<li><a href="department/LANG"><button class="button-color">Language</button></a></li>
<li><a href="department/LATN"><button class="button-color">Latin</button></a></li>
<li><a href="department/LING"><button class="button-color">Linguistics</button></a></li>
<li><a href="department/LLAS"><button class="button-color">Latino/a and Latin American</button></a></li>
<li><a href="department/MATH"><button class="button-color">Math</button></a></li>
<li><a href="department/MUSA"><button class="button-color">Music Applied Study</button></a></li>
<li><a href="department/MUSC"><button class="button-color">Music</button></a></li>
<li><a href="department/PHAC"><button class="button-color">Physical Activities</button></a></li>
<li><a href="department/PHIL"><button class="button-color">Philosophy</button></a></li>
<li><a href="department/PHYS"><button class="button-color">Physics</button></a></li>
<li><a href="department/POLS"><button class="button-color">Politics</button></a></li>
<li><a href="department/PSYC"><button class="button-color">Psychology</button></a></li>
<li><a href="department/RELS"><button class="button-color">Religious Studies</button></a></li>
<li><a href="department/RUSN"><button class="button-color">Russian</button></a></li>
<li><a href="department/SOC"><button class="button-color">Sociology</button></a></li>
<li><a href="department/SPAN"><button class="button-color">Spanish and French Studies</button></a></li>
<li><a href="department/THEA"><button class="button-color">Theater</button></a></li>
<li><a href="department/UEP"><button class="button-color">Urban and Environmental Policy</button></a></li>
<li><a href="department/WRD"><button class="button-color">Writing and Rhetoric</button></a></li>
</ul>
</nav>
</section>
<table style="width:100%">
    <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>

<script>
    var buttons = document.getElementsByClassName("button-color");
for(var i=0;i<buttons.length;i++) {
  buttons[i].classList.add(i % 2 === 0 ? "even" : "odd");
  //or
  buttons[i].style["background-color"] = i % 2 === 0 ? "#FF6600" : "#696666";
}
</script>
</body>
</html>