<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section id="department">
<h1>Select by Department:</h1>
<nav>

<div><a href="department/AMST" class="button-color">American Studies</a></div>
<div><a href="department/ARAB" class="button-color">Arabic</a></div>
<div><a href="department/ARTH" class="button-color">AHVA/Art History</a></div>
<div><a href="department/ARTM" class="button-color">AHVA/Media Arts and Culture</a></div>
<div><a href="department/ARTS" class="button-color">AHVA/Studio Art</a></div>
<div><a href="department/BICH" class="button-color">Biochemistry</a></div>
<div><a href="department/BIO" class="button-color">Biology</a></div>
<div><a href="department/CHEM" class="button-color">Chemistry</a></div>
<div><a href="department/CHIN" class="button-color">Chinese</a></div>
<div><a href="department/CLAS" class="button-color">Classical Studies</a></div>
<div><a href="department/COGS" class="button-color">Cognitive Science</a></div>
<div><a href="department/COMP" class="button-color">Computer Science</a></div>
<div><a href="department/CSLC" class="button-color">Comp. Studies/Lit. & Cult.</a></div>
<div><a href="department/CSP" class="button-color">Cultural Studies Program</a></div>
<div><a href="department/CTSJ" class="button-color">Critical Theory and Social Justice</a></div>
<div><a href="department/DWA" class="button-color">Diplomacy and World Affairs</a></div>
<div><a href="department/ECLS" class="button-color">English and Comparative Literary Studies</a></div>
<div><a href="department/ECON" class="button-color">Economics</a></div>
<div><a href="department/EDUC" class="button-color">Education</a></div>
<div><a href="department/ENGL" class="button-color">English</a></div>
<div><a href="department/ENWR" class="button-color">English Writing</a></div>
<div><a href="department/FREN" class="button-color">French</a></div>
<div><a href="department/GEO" class="button-color">Geology</a></div>
<div><a href="department/GERM" class="button-color">German</a></div>
<div><a href="department/GRK" class="button-color">Greek</a></div>
<div><a href="department/HIST" class="button-color">History</a></div>
<div><a href="department/ITAL" class="button-color">Italian</a></div>
<div><a href="department/JAPN" class="button-color">Japanese</a></div>
<div><a href="department/KINE" class="button-color">Kinesiology</a></div>
<div><a href="department/LANG" class="button-color">Language</a></div>
<div><a href="department/LATN" class="button-color">Latin</a></div>
<div><a href="department/LING" class="button-color">Linguistics</a></div>
<div><a href="department/LLAS" class="button-color">Latino/a and Latin American</a></div>
<div><a href="department/MATH" class="button-color">Math</a></div>
<div><a href="department/MUSA" class="button-color">Music Applied Study</a></div>
<div><a href="department/MUSC" class="button-color">Music</a></div>
<div><a href="department/PHAC" class="button-color">Physical Activities</a></div>
<div><a href="department/PHIL" class="button-color">Philosophy</a></div>
<div><a href="department/PHYS" class="button-color">Physics</a></div>
<div><a href="department/POLS" class="button-color">Politics</a></div>
<div><a href="department/PSYC" class="button-color">Psychology</a></div>
<div><a href="department/RELS" class="button-color">Religious Studies</a></div>
<div><a href="department/RUSN" class="button-color">Russian</a></div>
<div><a href="department/SOC" class="button-color">Sociology</a></div>
<div><a href="department/SPAN" class="button-color">Spanish and French Studies</a></div>
<div><a href="department/THEA" class="button-color">Theater</a></div>
<div><a href="department/UEP" class="button-color">Urban and Environmental Policy</a></div>
<div><a href="department/WRD" class="button-color">Writing and Rhetoric</a></div>

</nav>
</section>
<section id="core">
<h1>Select by Core:</h1>
<nav>
    <div><a href="core/CPAF" class="button-color">Core Africa and the Middle East</a></div>
    <div><a href="core/CPAF" class="button-color">Core Africa and the Middle East</a></div>
    <div><a href="core/CPAS" class="button-color">Core Central/ South/ East Asia</a></div>
    <div><a href="core/CPEU" class="button-color">Core Europe</a></div>
    <div><a href="core/CPFA" class="button-color">Core Fine Arts (CPFA)</a></div>
    <div><a href="core/CFAP" class="button-color">Core Fine Arts Partial (CFAP)</a></div>
    <div><a href="core/CPGC" class="button-color">Core Global Connections (CPGC)</a></div>
    <div><a href="core/CPIC" class="button-color">Core Intercultural (CPIC)</a></div>
    <div><a href="core/CPLS" class="button-color">Core Laboratory Science (CPLS)</a></div>
    <div><a href="core/CPLA" class="button-color">Core Latin America (CPLA)</a></div>
    <div><a href="core/CMSP" class="button-color">Core Math/Science Partial (CMSP)</a></div>
    <div><a href="core/CPMS" class="button-color">Core Math/Science (CPMS)</a></div>
    <div><a href="core/CPPE" class="button-color">Core Pre-1800 (CPPE)</a></div>
    <div><a href="core/CPRF" class="button-color">Core Regional Focus (CPRF)</a></div>
    <div><a href="core/CPUS" class="button-color">Core United States (CPUS)</a></div>
    <div><a href="core/CPUD" class="button-color">Core United States Diversity (CPUD)</a></div>
</nav>
</section>

<table style="width:100%">
    <tr class="table-titles">
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Seats</th>
        <th>Enrolled</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.seats}}</td>
        <td>{{class.enrolled}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>
        {% endfor %}</tr></table>
<script src="/js/main.js"></script>
</body>
</html>