<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
    <form method = "get" action = "/<year>/<semester>/<core>">

<div>
Going abroad?    
    <select>
    <option value="ABAR" >Occidental-in-Argentina</option>
    <option value="ABAS" >Occidental-in-Austria</option>
    <option value="ABAU" >Occidental-in-Australia</option>
    <option value="ABBO" >Occidental-in-Bolivia</option>
    <option value="ABBR" >Occidental-in-Brazil</option>
    <option value="ABBW" >Occidental-in-Botswana</option>
    <option value="ABCH" >Occidental-in-China</option>
    <option value="ABCI" >Occidental-in-Chile</option>
    <option value="ABCR" >Occidental-in-Costa Rica</option>
    <option value="ABCZ" >Occidental-in-the-Czech Republic</option>
    <option value="ABDE" >Occidental-in-Denmark</option>
    <option value="ABDR" >Occidental-in-the-Dominican Republic</option>
    <option value="ABFR" >Occidental-in-France</option>
    <option value="ABGE" >Occidental-in-Germany</option>
    <option value="ABHU" >Occidental-in-Hungary</option>
    <option value="ABIC" >Occidental-in-Iceland </option>
    <option value="ABID" >Occidental-in-Indonesia (ABID)</option>
    <option value="ABIN" >Occidental-in-India</option>
    <option value="ABIR" >Occidental-in-Ireland (ABIR)</option>
    <option value="ABIT" >Occidental-in-Italy (ABIT)</option>
    <option value="ABJA" >Occidental-in-Japan (ABJA)</option>
    <option value="ABJO" >Occidental-in-Jordan (ABJO)</option>
    <option value="ABMO" >Occidental-in-Morocco (ABMO)</option>
    <option value="ABNA" >Occidental-in-the-Netherlands Antilles (ABNA)</option>
    <option value="ABNI" >Occidental-in-Nicaragua (ABNI)</option>
    <option value="ABNT" >Occidental-in-the-Netherlands (ABNT)</option>
    <option value="ABNZ" >Occidental-in-New Zealand (ABNZ)</option>
    <option value="ABPE" >Occidental-in-Peru (ABPE)</option>
    <option value="ABRU" >Occidental-in-Russia (ABRU)</option>
    <option value="ABSA" >Occidental-in-South Africa</option>
    <option value="ABSE" >Occidental-in-Senegal</option>
    <option value="ABSE" >Occidental-in-Senegal</option>
    <option value="ABSM" >Occidental-in-Samoa</option>
    <option value="ABSN" >Occidental-in-Sweden</option>
    <option value="ABSP" >Occidental-in-Spain</option>
    <option value="ABSW" >Occidental-in-Switzerland</option>
    <option value="ABTN" >Occidental-in-Taiwan</option>
    <option value="ABUA" >Occidental-in-the-United Arab Emirates</option>
    <option value="ABUK" >Occidental-in-the-United Kingdom</option>
        </select>

    Filter by Department:
    <p><a href="AMST" >American Studies</a></p>
    <p><a href="ARAB" >Arabic</a></p>
    <p><a href="ARTH" >Art History and Visual Arts/Art History</a></p>
    <p><a href="ARTM" >Art History and Visual Arts/Media Arts and Culture</a></p>
    <p><a href="ARTS" >Art History and Visual Arts/Studio Art</a></p>
    <p><a href="BICH" >Biochemistry</a></p>
    <p><a href="BIO" >Biology</a></p>
    <p><a href="CHEM" >Chemistry</a></p>
    <p><a href="CHIN" >Chinese</a></p>
    <p><a href="CLAS" >Classical Studies</a></p>
    <p><a href="COGS" >Cognitive Science</a></p>
    <p><a href="COMP" >Computer Science</a></p>
    <p><a href="CSLC" >Comparative Studies in Literature and Culture</a></p>
    <p><a href="CSP" >Cultural Studies Program</a></p>
    <p><a href="CTSJ" >Critical Theory and Social Justice</a></p>
    <p><a href="DWA" >Diplomacy and World Affairs</a></p>
    <p><a href="ECLS" >English and Comparative Literary Studies</a></p>
    <p><a href="ECON" >Economics</a></p>
    <p><a href="EDUC" >Education</a></p>
    <p><a href="ENGL" >English</a></p>
    <p><a href="ENWR" >English Writing</a></p>
    <p><a href="FREN" >French</a></p>
    <p><a href="GEO" >Geology'</a></p>
    <p><a href="GERM" >German</a></p>
    <p><a href="GRK" >Greek</a></p>
    <p><a href="HIST" >History</a></p>
    <p><a href="ITAL" >Italian</a></p>
    <p><a href="JAPN" >Japanese</a></p>
    <p><a href="KINE" >Kinesiology</a></p>
    <p><a href="LANG" >Language</a></p>
    <p><a href="LATN" >Latin</a></p>
    <p><a href="LING" >Linguistics</a></p>
    <p><a href="LLAS" >Latino/a and Latin American Studies</a></p>
    <p><a href="MATH" >Mathematics</a></p>
    <p><a href="MUSA" >Music Applied Study</a></p>
    <p><a href="MUSC" >Music</a></p>
    <p><a href="PHAC" >Physical Activities</a></p>
    <p><a href="PHIL" >Philosophy</a></p>
    <p><a href="PHYS" >Physics</a></p>
    <p><a href="POLS" >Politics</a></p>
    <p><a href="PSYC" >Psychology</a></p>
    <p><a href="RELS" >Religious Studies</a></p>
    <p><a href="RUSN" >Russian</a></p>
    <p><a href="SOC" >Sociology</a></p>
    <p><a href="SPAN" >Spanish and French Studies</a></p>
    <p><a href="THEA" >Theater</a></p>
    <p><a href="UEP" >Urban and Environmental Policy</a></p>
    <p><a href="WRD" >Writing and Retoric</a></p>

    Filter by Core:
    <p><a href="CPAF" >Core Africa and the Middle East</a></p>
    <p><a href="CPAS" >Core Central/South/East Asia</a></p>
    <p><a href="CPEU" >Core Europe</a></p>
    <p><a href="CPFA" >Core Fine Arts (CPFA)</a></p>
    <p><a href="CFAP" >Core Fine Arts Partial (CFAP)</a></p>
    <p><a href="CPGC" >Core Global Connections (CPGC)</a></p>
    <p><a href="CPIC" >Core Intercultural (CPIC)</a></p>
    <p><a href="CPLS" >Core Laboratory Science (CPLS)</a></p>
    <p><a href="CPLA" >Core Latin America (CPLA)</a></p>
    <p><a href="CMSP" >Core Math/Science Partial (CMSP)</a></p>
    <p><a href="CPMS" >Core Mathematics/Science (CPMS)</a></p>
    <p><a href="CPPE" >Core Pre-1800 (CPPE)</a></p>
    <p><a href="CPRF" >Core Regional Focus (CPRF)</a></p>
    <p><a href="CPUS" >Core United States (CPUS)</a></p>
    <p><a href="CPUD" >Core United States Diversity (CPUD)</a></p>
    </p>
</div>
    </form>
<style>

table, th, td {border: 1px dotted grey;
    border-collapse: collapse;}
    th, td {padding: 5px;}

</style>
<body>
<table style="width:100%">
    <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>
</body>
</html>