<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <form method = "get" action = "/<year>/<semester>/<department>"

<div>
    Filter by Core:
    <p><a href="CPAF" >Core Africa and the Middle East</a></p>
    <p><a href="CPAS" >Core Central/South/East Asia</a></p>
    <p><a href="CPEU" >Core Europe</a></p>
    <p><a href="CPFA" >Core Fine Arts (CPFA)</a></p>
    <p><a href="CFAP" >Core Fine Arts Partial (CFAP)</a></p>
    <p><a href="CPGC" >Core Global Connections (CPGC)</a></p>
    <p><a href="CPIC" >Core Intercultural (CPIC)</a></p>
    <p><a href="CPLS" >Core Laboratory Science (CPLS)</a></p>
    <p><a href="CPLA" >Core Latin America (CPLA)</a></p>
    <p><a href="CMSP" >Core Math/Science Partial (CMSP)</a></p>
    <p><a href="CPMS" >Core Mathematics/Science (CPMS)</a></p>
    <p><a href="CPPE" >Core Pre-1800 (CPPE)</a></p>
    <p><a href="CPRF" >Core Regional Focus (CPRF)</a></p>
    <p><a href="CPUS" >Core United States (CPUS)</a></p>
    <p><a href="CPUD" >Core United States Diversity (CPUD)</a></p>
</div>
    </form>
<style>

table, th, td {border: 1px dotted grey;
    border-collapse: collapse;}
    th, td {padding: 5px;}

</style>
<body>
<table style="width:100%">
    <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>
</body>
</html>