<!-- sets up file; create top of page (header); inserts logo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <img src="/images/oxy-logo.png" style="width:250px; height:130px;"/>
</head>

<!-- establishes which url this should appear on -->
<form method = "get" action = "/<year>/<semester>/department/<department>"></form>

<body>

<h3>Scroll down to see all the courses in the selected department offered in the selected term. Narrow your search by clicking on a filter below.</h3>

<section id="core">
<h1>Select by Core:</h1>
<nav>
    <div><a href="core/CPAF" class="button-color">Core Africa and the Middle East</a></div>
    <div><a href="core/CPAF" class="button-color">Core Africa and the Middle East</a></div>
    <div><a href="core/CPAS" class="button-color">Core Central/ South/ East Asia</a></div>
    <div><a href="core/CPEU" class="button-color">Core Europe</a></div>
    <div><a href="core/CPFA" class="button-color">Core Fine Arts (CPFA)</a></div>
    <div><a href="core/CFAP" class="button-color">Core Fine Arts Partial (CFAP)</a></div>
    <div><a href="core/CPGC" class="button-color">Core Global Connections (CPGC)</a></div>
    <div><a href="core/CPIC" class="button-color">Core Intercultural (CPIC)</a></div>
    <div><a href="core/CPLS" class="button-color">Core Laboratory Science (CPLS)</a></div>
    <div><a href="core/CPLA" class="button-color">Core Latin America (CPLA)</a></div>
    <div><a href="core/CMSP" class="button-color">Core Math/Science Partial (CMSP)</a></div>
    <div><a href="core/CPMS" class="button-color">Core Math/Science (CPMS)</a></div>
    <div><a href="core/CPPE" class="button-color">Core Pre-1800 (CPPE)</a></div>
    <div><a href="core/CPRF" class="button-color">Core Regional Focus (CPRF)</a></div>
    <div><a href="core/CPUS" class="button-color">Core United States (CPUS)</a></div>
    <div><a href="core/CPUD" class="button-color">Core United States Diversity (CPUD)</a></div>
</nav>
</section>
<table style="width:100%">
    <tr class="table-titles">
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Seats</th>
        <th>Enrolled</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.seats}}</td>
        <td>{{class.enrolled}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>
<script src="/js/main.js"></script>
</body>
</html>