<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ year }}{{semester}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
    <form method = "get" action = "/<year>/<semester>">
        
<div>
Going abroad?    
    <select>
    <option value="ABAR" >Occidental-in-Argentina</option>
    <option value="ABAS" >Occidental-in-Austria</option>
    <option value="ABAU" >Occidental-in-Australia</option>
    <option value="ABBO" >Occidental-in-Bolivia</option>
    <option value="ABBR" >Occidental-in-Brazil</option>
    <option value="ABBW" >Occidental-in-Botswana</option>
    <option value="ABCH" >Occidental-in-China</option>
    <option value="ABCI" >Occidental-in-Chile</option>
    <option value="ABCR" >Occidental-in-Costa Rica</option>
    <option value="ABCZ" >Occidental-in-the-Czech Republic</option>
    <option value="ABDE" >Occidental-in-Denmark</option>
    <option value="ABDR" >Occidental-in-the-Dominican Republic</option>
    <option value="ABFR" >Occidental-in-France</option>
    <option value="ABGE" >Occidental-in-Germany</option>
    <option value="ABHU" >Occidental-in-Hungary</option>
    <option value="ABIC" >Occidental-in-Iceland </option>
    <option value="ABID" >Occidental-in-Indonesia (ABID)</option>
    <option value="ABIN" >Occidental-in-India</option>
    <option value="ABIR" >Occidental-in-Ireland (ABIR)</option>
    <option value="ABIT" >Occidental-in-Italy (ABIT)</option>
    <option value="ABJA" >Occidental-in-Japan (ABJA)</option>
    <option value="ABJO" >Occidental-in-Jordan (ABJO)</option>
    <option value="ABMO" >Occidental-in-Morocco (ABMO)</option>
    <option value="ABNA" >Occidental-in-the-Netherlands Antilles (ABNA)</option>
    <option value="ABNI" >Occidental-in-Nicaragua (ABNI)</option>
    <option value="ABNT" >Occidental-in-the-Netherlands (ABNT)</option>
    <option value="ABNZ" >Occidental-in-New Zealand (ABNZ)</option>
    <option value="ABPE" >Occidental-in-Peru (ABPE)</option>
    <option value="ABRU" >Occidental-in-Russia (ABRU)</option>
    <option value="ABSA" >Occidental-in-South Africa</option>
    <option value="ABSE" >Occidental-in-Senegal</option>
    <option value="ABSE" >Occidental-in-Senegal</option>
    <option value="ABSM" >Occidental-in-Samoa</option>
    <option value="ABSN" >Occidental-in-Sweden</option>
    <option value="ABSP" >Occidental-in-Spain</option>
    <option value="ABSW" >Occidental-in-Switzerland</option>
    <option value="ABTN" >Occidental-in-Taiwan</option>
    <option value="ABUA" >Occidental-in-the-United Arab Emirates</option>
    <option value="ABUK" >Occidental-in-the-United Kingdom</option>
        </select>

    Filter by Department:
<button class = "button-color"><a href="department/AMST" >American Studies</a></button>
<button class = "button-color"><a href="department/ARAB" >Arabic</a></button>
<button class = "button-color"><a href="department/ARTH" >Art History and Visual Arts/Art History</a></button>
<button class = "button-color"><a href="department/ARTM" >Art History and Visual Arts/Media Arts and Culture</a></button>
<button class = "button-color"><a href="department/ARTS" >Art History and Visual Arts/Studio Art</a></button>
<button class = "button-color"><a href="department/BICH" >Biochemistry</a></button>
<button class = "button-color"><a href="department/BIO" >Biology</a></button>
<button class = "button-color"><a href="department/CHEM" >Chemistry</a></button>
<button class = "button-color"><a href="department/CHIN" >Chinese</a></button>
<button class = "button-color"><a href="department/CLAS" >Classical Studies</a></button>
<button class = "button-color"><a href="department/COGS" >Cognitive Science</a></button>
<button class = "button-color"><a href="department/COMP" >Computer Science</a></button>
<button class = "button-color"><a href="department/CSLC" >Comparative Studies in Literature and Culture</a></button>
<button class = "button-color"><a href="department/CSP" >Cultural Studies Program</a></button>
<button class = "button-color"><a href="department/CTSJ" >Critical Theory and Social Justice</a></button>
<button class = "button-color"><a href="department/DWA" >Diplomacy and World Affairs</a></button>
<button class = "button-color"><a href="department/ECLS" >English and Comparative Literary Studies</a></button>
<button class = "button-color"><a href="department/ECON" >Economics</a></button>
<button class = "button-color"><a href="department/EDUC" >Education</a></button>
<button class = "button-color"><a href="department/ENGL" >English</a></button>
<button class = "button-color"><a href="department/ENWR" >English Writing</a></button>
<button class = "button-color"><a href="department/FREN" >French</a></button>
<button class = "button-color"><a href="department/GEO" >Geology'</a></button>
<button class = "button-color"><a href="department/GERM" >German</a></button>
<button class = "button-color"><a href="department/GRK" >Greek</a></button>
<button class = "button-color"><a href="department/HIST" >History</a></button>
<button class = "button-color"><a href="department/ITAL" >Italian</a></button>
<button class = "button-color"><a href="department/JAPN" >Japanese</a></button>
<button class = "button-color"><a href="department/KINE" >Kinesiology</a></button>
<button class = "button-color"><a href="department/LANG" >Language</a></button>
<button class = "button-color"><a href="department/LATN" >Latin</a></button>
<button class = "button-color"><a href="department/LING" >Linguistics</a></button>
<button class = "button-color"><a href="department/LLAS" >Latino/a and Latin American Studies</a></button>
<button class = "button-color"><a href="department/MATH" >Mathematics</a></button>
<button class = "button-color"><a href="department/MUSA" >Music Applied Study</a></button>
<button class = "button-color"><a href="department/MUSC" >Music</a></button>
<button class = "button-color"><a href="department/PHAC" >Physical Activities</a></button>
<button class = "button-color"><a href="department/PHIL" >Philosophy</a></button>
<button class = "button-color"><a href="department/PHYS" >Physics</a></button>
<button class = "button-color"><a href="department/POLS" >Politics</a></button>
<button class = "button-color"><a href="department/PSYC" >Psychology</a></button>
<button class = "button-color"><a href="department/RELS" >Religious Studies</a></button>
<button class = "button-color"><a href="department/RUSN" >Russian</a></button>
<button class = "button-color"><a href="department/SOC" >Sociology</a></button>
<button class = "button-color"><a href="department/SPAN" >Spanish and French Studies</a></button>
<button class = "button-color"><a href="department/THEA" >Theater</a></button>
<button class = "button-color"><a href="department/UEP" >Urban and Environmental Policy</a></button>
<button class = "button-color"><a href="department/WRD" >Writing and Retoric</a></button>

    Filter by Core:
<button class = "button-color"><a href="core/CPAF" >Core Africa and the Middle East</a></button>
<button class = "button-color"><a href="core/CPAS" >Core Central/South/East Asia</a></button>
<button class = "button-color"><a href="core/CPEU" >Core Europe</a></button>
<button class = "button-color"><a href="core/CPFA" >Core Fine Arts (CPFA)</a></button>
<button class = "button-color"><a href="core/CFAP" >Core Fine Arts Partial (CFAP)</a></button>
<button class = "button-color"><a href="core/CPGC" >Core Global Connections (CPGC)</a></button>
<button class = "button-color"><a href="core/CPIC" >Core Intercultural (CPIC)</a></button>
<button class = "button-color"><a href="core/CPLS" >Core Laboratory Science (CPLS)</a></button>
<button class = "button-color"><a href="core/CPLA" >Core Latin America (CPLA)</a></button>
<button class = "button-color"><a href="core/CMSP" >Core Math/Science Partial (CMSP)</a></button>
<button class = "button-color"><a href="core/CPMS" >Core Mathematics/Science (CPMS)</a></button>
<button class = "button-color"><a href="core/CPPE" >Core Pre-1800 (CPPE)</a></button>
<button class = "button-color"><a href="core/CPRF" >Core Regional Focus (CPRF)</a></button>
<button class = "button-color"><a href="core/CPUS" >Core United States (CPUS)</a></button>
<button class = "button-color"><a href="core/CPUD" >Core United States Diversity (CPUD)</a></button>
    </p>
</div>
    </form>
<style>



</style>
<body>
<table style="width:100%">
    <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Cores Met</th>
        </tr>
    {%for class in results %}
    <tr>
        <td>{{class.year}}</td>
        <td>{{class.semester}}</td>
        <td>{{class.department}}</td>
        <td>{{class.course_number}}</td>
        <td>{{class.class_title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructor}}</td>
        <td>{{class.time}}</td>
        <td>{{class.core}}</td>
        {% endfor %}</tr></table>
</body>
</html>